In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.notebook import tqdm
from sklearn import preprocessing

from sklearn.preprocessing import OrdinalEncoder

from sklearn import metrics

import joblib
import pickle
import os
import fnmatch

In [3]:
trial='Trial '

# load the model from disk
filename = 'LR_prob.sav'
loaded_model = pickle.load(open('D:/Data Science/Projects/Cricket t20/Data/Analysis/Predictions/Models/Trial 1/' + filename, 'rb'))
#result = loaded_model.score(X_test, y_test)
#print(result)

loaded_model

### Load the model

In [4]:
model_names=[]
for file in os.listdir(r'D:/Data Science/Projects/Cricket t20/Data/Analysis/Predictions/Models/Trial 3/'):
    if fnmatch.fnmatch(file, 'model*.pkl'):
        model_names.append(file[6:-4])
model_names

['LR']

In [5]:
trial_model = 3

In [6]:

trail_path = r'D:\Data Science\Projects\Cricket t20\Data\Analysis\Predictions\Models/Trial {0}'.format(trial_model)

save_trained_column_names_path = r'D:\Data Science\Projects\Cricket t20\Data\Analysis\Predictions\Models/Trial {0}/trained_column_names.npy'.format(trial_model)
save_class_names_path = r'D:\Data Science\Projects\Cricket t20\Data\Analysis\Predictions\Models/Trial {0}/classes_names.npy'.format(trial_model)
save_classes_encoding_path = r'D:\Data Science\Projects\Cricket t20\Data\Analysis\Predictions\Models/Trial {0}/classes_encoding.npy'.format(trial_model)
#save_feature_scaler_path = r'D:\Data Science\Projects\Cricket t20\Data\Analysis\Predictions\Models/Trial {0}/feature_scaler.pkl'.format(trial_model)
#save_scaled_features_path = r'D:\Data Science\Projects\Cricket t20\Data\Analysis\Predictions\Models/Trial {0}/scaled_features.npy'.format(trial_model)


print(save_trained_column_names_path,
      save_class_names_path,save_classes_encoding_path,sep='\n')

D:\Data Science\Projects\Cricket t20\Data\Analysis\Predictions\Models/Trial 3/trained_column_names.npy
D:\Data Science\Projects\Cricket t20\Data\Analysis\Predictions\Models/Trial 3/classes_names.npy
D:\Data Science\Projects\Cricket t20\Data\Analysis\Predictions\Models/Trial 3/classes_encoding.npy

In [7]:
trial = 'Trial 3'

In [8]:
## Import trained model
models={}
for m in model_names:
    print(m)
    models[m] = joblib.load(r'D:\Data Science\Projects\Cricket t20\Data\Analysis\Predictions\Models/{0}/model_{1}.pkl'.format(trial,m))

## Initializing and loading Encoder
oe_loaded= OrdinalEncoder(handle_unknown='use_encoded_value',unknown_value=np.nan)
oe_loaded.categories_ = np.load(save_classes_encoding_path, allow_pickle=True)

## Importing variable names used for encoding
cat_vars = np.load(save_class_names_path, allow_pickle=True)

## Importing variable names used for training
relevant_cols = np.load(save_trained_column_names_path, allow_pickle=True)

## Import scaler
#scaler = joblib.load(save_feature_scaler_path)

## Importing variable names used for scaling
#to_scale = np.load(save_scaled_features_path, allow_pickle=True)

LR

In [9]:
oe_loaded.categories_

array([array(['AFGHANISTAN', 'ARGENTINA', 'AUSTRALIA', 'AUSTRIA', 'BAHAMAS',
              'BAHRAIN', 'BANGLADESH', 'BELGIUM', 'BELIZE', 'BERMUDA', 'BHUTAN',
              'BOTSWANA', 'BULGARIA', 'CAMEROON', 'CANADA', 'CAYMAN ISLANDS',
              'CROATIA', 'CYPRUS', 'CZECH REPUBLIC', 'DENMARK', 'ENGLAND',
              'ESTONIA', 'FINLAND', 'FRANCE', 'GERMANY', 'GHANA', 'GIBRALTAR',
              'GREECE', 'GUERNSEY', 'HONG KONG', 'HUNGARY', 'ICC WORLD XI',
              'INDIA', 'IRELAND', 'ISLE OF MAN', 'ISRAEL', 'ITALY', 'JERSEY',
              'KENYA', 'KUWAIT', 'LESOTHO', 'LUXEMBOURG', 'MALAWI', 'MALAYSIA',
              'MALDIVES', 'MALTA', 'MOZAMBIQUE', 'NAMIBIA', 'NEPAL',
              'NETHERLANDS', 'NEW ZEALAND', 'NIGERIA', 'NORWAY', 'OMAN',
              'PAKISTAN', 'PANAMA', 'PAPUA NEW GUINEA', 'PHILIPPINES',
              'PORTUGAL', 'QATAR', 'ROMANIA', 'RWANDA', 'SAUDI ARABIA',
              'SCOTLAND', 'SERBIA', 'SEYCHELLES', 'SIERRA LEONE', 'SINGAPORE',
              'SLOVENIA', 'SOUTH AFRICA', 'SPAIN', 'SRI LANKA', 'SWEDEN',
              'SWITZERLAND', 'TANZANIA', 'THAILAND', 'TURKEY', 'UGANDA',
              'UNITED ARAB EMIRATES', 'UNITED STATES OF AMERICA', 'VANUATU',
              'WEST INDIES', 'ZIMBABWE'], dtype=object)                         ,
       array(['AFGHANISTAN', 'ARGENTINA', 'AUSTRALIA', 'AUSTRIA', 'BAHAMAS',
              'BAHRAIN', 'BANGLADESH', 'BELGIUM', 'BELIZE', 'BERMUDA', 'BHUTAN',
              'BOTSWANA', 'BULGARIA', 'CAMEROON', 'CANADA', 'CAYMAN ISLANDS',
              'CROATIA', 'CYPRUS', 'CZECH REPUBLIC', 'DENMARK', 'ENGLAND',
              'ESTONIA', 'FINLAND', 'FRANCE', 'GERMANY', 'GHANA', 'GIBRALTAR',
              'GREECE', 'GUERNSEY', 'HONG KONG', 'HUNGARY', 'INDIA', 'IRAN',
              'IRELAND', 'ISLE OF MAN', 'ISRAEL', 'ITALY', 'JERSEY', 'KENYA',
              'KUWAIT', 'LESOTHO', 'LUXEMBOURG', 'MALAWI', 'MALAYSIA',
              'MALDIVES', 'MALTA', 'MOZAMBIQUE', 'NAMIBIA', 'NEPAL',
              'NETHERLANDS', 'NEW ZEALAND', 'NIGERIA', 'NORWAY', 'OMAN',
              'PAKISTAN', 'PANAMA', 'PAPUA NEW GUINEA', 'PHILIPPINES',
              'PORTUGAL', 'QATAR', 'ROMANIA', 'RWANDA', 'SCOTLAND', 'SERBIA',
              'SEYCHELLES', 'SIERRA LEONE', 'SINGAPORE', 'SLOVENIA',
              'SOUTH AFRICA', 'SPAIN', 'SRI LANKA', 'SWAZILAND', 'SWEDEN',
              'SWITZERLAND', 'TANZANIA', 'THAILAND', 'TURKEY', 'UGANDA',
              'UNITED ARAB EMIRATES', 'UNITED STATES OF AMERICA', 'VANUATU',
              'WEST INDIES', 'ZIMBABWE'], dtype=object)                         ,
       array(['ABU DHABI', 'ADELAIDE', 'ADELAIDE OVAL', 'AHMEDABAD', 'AL AMARAT',
              'ALBERGARIA', 'ALMERIA', 'AMSTELVEEN', 'ANTIGUA', 'AUCKLAND',
              'BANGALORE', 'BANGI', 'BANGKOK', 'BARBADOS', 'BASSETERRE',
              'BELFAST', 'BELGRADE', 'BENGALURU', 'BIRMINGHAM', 'BLOEMFONTEIN',
              'BREADY', 'BRIDGETOWN', 'BRISBANE', 'BRISTOL', 'BRONDBY',
              'BULAWAYO', 'CANBERRA', 'CAPE TOWN', 'CARDIFF', 'CARRARA OVAL',
              'CASTEL', 'CENTURION', 'CHANDIGARH', 'CHATTOGRAM', 'CHENNAI',
              'CHESTER-LE-STREET', 'CHITTAGONG', 'CHRISTCHURCH', 'COLOMBO',
              'COOLIDGE', 'CUTTACK', 'DEHRA DUN', 'DEHRADUN', 'DELHI', 'DERRY',
              'DEVENTER', 'DHAKA', 'DHARAMSALA', 'DHARMASALA', 'DOHA',
              'DOMINICA', 'DUBAI', 'DUBAI INTERNATIONAL CRICKET STADIUM',
              'DUBLIN', 'DUNEDIN', 'DURBAN', 'EAST LONDON', 'EDINBURGH',
              'ENTEBBE', 'EPISKOPI', 'FATULLAH', 'GHENT', 'GREATER NOIDA',
              'GROS ISLET', 'GUWAHATI', 'GUYANA', 'HAMBANTOTA', 'HAMILTON',
              'HARARE', 'HARARE SPORTS CLUB', 'HOBART', 'HONG KONG', 'HYDERABAD',
              'ILFOV COUNTY', 'INDORE', 'JAIPUR', 'JAMAICA', 'JOHANNESBURG',
              'KAMPALA', 'KANDY', 'KANPUR', 'KARACHI', 'KERAVA', 'KHULNA',
              'KIGALI CITY', 'KIMBERLEY', 'KING CITY', 'KIRTIPUR', 'KOLKATA',
              'KREFELD', 'KUALA LUMPUR', 'LAGOS', 'LAHORE', 'LAUDERHILL',
              'LEEDS', 'LONDON', 'LONDONDERRY', 'LUCKNOW', 'MANCHESTER', 'MARSA',
              'MELBOURNE', 'MELBOURNE CRICKET GROUND', 'MIRPUR',
              'MOARA VLASIEI CRICKET GROUND', 'MOMBASA SPORTS CLUB GROUND',
              'MOUNT MAUNGANUI', 'MUMBAI', 'MURCIA', 'NAGPUR', 'NAIROBI',
              'NAPIER', 'NELSON', 'NORTH SOUND', 'NOTTINGHAM', 'PAARL',
              'PALLEKELE INTERNATIONAL CRICKET STADIUM', 'PERTH',
              'PORT ELIZABETH', 'PORT MORESBY', 'POTCHEFSTROOM', 'PRAGUE',
              'PROVIDENCE', 'PUNE', 'RAJKOT', 'RANCHI',
              'RAWALPINDI CRICKET STADIUM', 'ROSEAU', 'ROTTERDAM', 'SHARJAH',
              'SHARJAH CRICKET STADIUM', 'SINGAPORE', 'SOFIA', 'SOUTHAMPTON',
              "ST GEORGE'S", 'ST KITTS', 'ST LUCIA', 'ST PETER PORT',
              'ST VINCENT', 'SYDNEY', 'SYDNEY CRICKET GROUND', 'SYLHET',
              'SYLHET INTERNATIONAL CRICKET STADIUM', 'SYLHET STADIUM',
              'TAROUBA', 'TAUNTON', 'THE HAGUE', 'THIRUVANANTHAPURAM',
              'TOWNSVILLE', 'TRINIDAD', 'UTRECHT', 'VANTAA', 'VICTORIA',
              'VISAKHAPATNAM', 'WALFERDANGE', 'WATERLOO', 'WELLINGTON',
              'WINDHOEK'], dtype=object)                                         ],
      dtype=object)

In [10]:
relevant_cols

array(['batting_team', 'bowling_team', 'city', 'runs_left', 'balls_left',
       'wickets', 'total_run_x', 'crr', 'rrr'], dtype='<U12')

In [11]:
151-92

59

In [12]:
df = pd.read_csv(r'D:\Data Science\Projects\Cricket t20\Data\Prepared\prediction set\test.csv')

In [13]:
#df = pd.DataFrame()

df['batting_team'] = ['ZIMBABWE']
df['bowling_team'] = 'INDIA'
df['city'] = 'MELBOURNE CRICKET GROUND'
#df['runs_left'] = 59
#df['balls_left'] = 33
#df['wickets'] = 8
#df['total_run_x'] =  151
#df['current_score'] =  92


#current RR
#df['crr'] = (df['current_score']*6)/(120-df['balls_left'])

#required RR
#df['rrr'] = (df['runs_left']*6)/df['balls_left']
#df['rrr'] = df['rrr'].fillna(0)
#df['rrr'] = np.where(df['rrr'].astype(str) == 'inf',111,df['rrr'])

In [14]:
df1 = df[['batting_team', 'bowling_team', 'city', 'runs_left', 'balls_left', 'wickets', 'total_run_x', 'current_score', 'crr', 'rrr']]

In [15]:
df_encoded = df1[relevant_cols].copy()
df_encoded[cat_vars] = df_encoded[cat_vars].fillna("UNKNOWN")
df_encoded[cat_vars] = oe_loaded.transform(df_encoded[cat_vars])

for t in cat_vars: ##Change
    i = list(cat_vars).index(t) ##Change
    df_encoded[t] = df_encoded[t].fillna(len(oe_loaded.categories_[i])) ##Change

df_encoded.dropna(inplace=True)
df_encoded.shape

(1, 9)

In [16]:
df_encoded.isnull().mean().sort_values(ascending=False)

batting_team    0.0
bowling_team    0.0
city            0.0
runs_left       0.0
balls_left      0.0
wickets         0.0
total_run_x     0.0
crr             0.0
rrr             0.0
dtype: float64

In [17]:
df_encoded

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_run_x,crr,rrr
0,82.0,31.0,101.0,155,78,6,186,4.571429,11.923077

In [18]:
models

{'LR': LogisticRegression(solver='liblinear')}

In [19]:
#check predicition
pred_win = models[m].predict(df_encoded)
pred_win_df = pd.DataFrame({'predictions':pred_win}).reset_index()

#Check probability
pred_prob = models[m].predict_proba(df_encoded)
pred_prob_df = pd.DataFrame(pred_prob,columns=['bowling_team_pred','batting_team_pred'])
pred_prob_df

   bowling_team_pred  batting_team_pred
0           0.984013           0.015987

In [20]:
predictions = pd.concat([df1,pred_win_df,pred_prob_df],axis=1)
predictions

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_run_x,current_score,crr,rrr,index,predictions,bowling_team_pred,batting_team_pred
0,ZIMBABWE,INDIA,MELBOURNE CRICKET GROUND,155,78,6,186,32,4.571429,11.923077,0,0,0.984013,0.015987